div.hide.confirm-navigation.modal
  div.modal-header
    h3 Confirm Navigation
  div.modal-body
    div.confirm-navigation-message
    div Are you sure you want to leave this page?
  div.modal-footer
    button.btn.confirm-navigation-stay(data-modal-close) Stay on this Page
    button.btn.btn-danger.confirm-navigation-leave(data-modal-close) Leave this Page
